body{
    margin: 0;
}
.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.align-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}
.flex-between{
    justify-content: space-between;
}
.imagen{
    width: 240px;
    height: 240px;  
}
.border{
    border: 1px solid black;
}
.selected{
    background-color: rgb(103, 94, 163);
}
.aqua{
    background-color:rgb(168, 218, 218);
}
.margin5{
    margin: 5px;
}
.padding5{
    padding: 5px;
}
.button{
    height: 40px;
    background-color: #dc3545;
    border: 1px solid #dc3545;
    font-size: 15px;
    color: white;
    border-radius: 5px;
    font-family: sans-serif;
    cursor: pointer;
}
.precios{
    color: #e83e8c;
    font-weight: 700;
    font-size: 14px;
    font-family: sans-serif;
}
.normal{
    font-size: 12px;
    font-family: sans-serif;
    font-weight: 700;
    color: #3d3d3d;
}
.tituloProducto{
    height: 50px;
    font-size: .875rem;
    color: #3d3d3d;
    font-family: sans-serif;
    font-weight: 700;
    background: #f7f7f7;
}
.font{
    font-size: 15px;
    font-family:sans-serif;
    text-decoration: none;
    color: black;
    padding: 10px;
    border-radius: 6px;
}
.imagenCarro{
    width: 150px;
    height: 150px;
}
.opc1{
    opacity: 1;
}
.display-none{
    display: none;
}
.flex-wrap{
    flex-wrap: wrap;
}
.bk-sky{
    background-color: skyblue;
}
.bk-white{
    background-color: white;
}
.borp{
    border-bottom: 1px dashed red;
}
.bk-green{
    background-color: rgb(166, 204, 109);
}
.mt5{
    margin-top: 5px;
}
.mr5{
    margin-right: 5px;
}
.mr15{
    margin-right: 15px;
}
.mr10{
    margin-right: 10px;
}
.ml10{
    margin-left: 10px;
}
.ml5{
    margin-left: 5px;
}
.p10{
    padding: 10px;
}
.mt10{
    margin-top: 10px;
}
.w100{
    width: 100%;
}
.w15{
    width:15%;
}
.w20{
    width:20%;
}
.w30{
    width:30%;
}
.w25{
    width:25%;
}
.w50{
    width: 50%;
}
.w60{
    width: 60%;
}
.w70{
    width: 70%;
}
.mt50{
    margin-top: 50px;
}

.mt150{
    margin-top: 150px;
}


*{
    box-sizing: border-box;
}

.loader-container{
    position: relative;
    width: 60px;
    height: 60px;
    margin: 10px;
}

.loader-container .loader{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    border: solid 4px transparent;
    border-top-color: #dc3545;
    border-left-color: #dc3545;
    border-radius: 50%;
    animation:  loader 1.2s linear infinite;

}

.loader-container .loader2{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%;
    height: 70%;
    border: solid 4px transparent;
    border-top-color: #3d3d3d;
    border-left-color: #3d3d3d;
    border-radius: 50%;
    animation:  loader2 1.2s linear infinite;
    
}

@keyframes loader{
    0%{
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100%{
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
@keyframes loader2{
    0%{
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100%{
        transform: translate(-50%, -50%) rotate(-360deg);
    }
}
.hiper{
    text-decoration: none;
    font-size: 13px;
    font-family: sans-serif;
    background-color: rgb(116, 104, 170);
    padding: 10px;
    color: black;
    border: 1px solid rgb(61, 46, 129);
    border-radius: 6px;

}
.a{
    text-decoration: none;
    font-size: 13px;
    font-family: sans-serif;
    font-weight: bold;
    color: black;
}
.label{
    font-size: 15px;
    font-family: sans-serif;
}
.labelCantidad{
    font-size: 12px;
    font-family: sans-serif;
}
.boton{
    border: 1px solid green;
    padding: 5px;
    background-color: rgb(92, 151, 85);
    cursor: pointer;
    color: black;
    font-size: 13px;
    font-family: sans-serif;
    border-radius: 6px;
}
.flex-start{
    justify-content: flex-start;
}
.flex-end{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.minwidth{
    min-width: 400px;
}
.borb{
    border-bottom: 1px solid red;
}
.wrapper{
    /* background-color: #e83e8c; */
    /* width: 100%;
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center; */
    background-color: #F8F9F9;
/* width: 100%; */
/* min-height: 500px; */
/* display: flex; */
/* align-items: center; */
/* position: fixed; */
/* justify-content: center; */
margin: 0 auto;
top: 0;
left: 0;
bottom: 0;
right: 0;
position: fixed;
z-index: 1041;
opacity: 0.5;
display: flex;
justify-content: center;
align-items: center;
}

.modal-carrito{
    margin: 0 auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    background-color: #6c757d;
}

